<html>
    <head><title>Login page</title></head>
    <body>
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <input name = "username" type="text" placeholder="username">
            <input name = "password" type="password" placeholder="password">
            <button type="submit">
                Login
            </button>
        </form>
        {% if not is_exists %}
            WRONG USERNAME OR PASSWORD
        {% endif %}
    </body>
</html>
