<html>
<body>
<button><a href="">Google Login</a></button>
<form action="{% url 'register' %}" method="post">
    {% csrf_token %}
    <input type="text" placeholder="username" name = "username">
    <input type="password" placeholder="password" name = "password">
    <input type="password" placeholder="re-password">
    <input type="email" placeholder="email" name = "email">
    <input type="text" placeholder="phone" name = "phone">
    <button type="submit">Register</button>

</form>

{% if has_err %}

    {% if err_key == 1 %}
        Fill All Inputs
    {% endif %}

    {% if err_key == 2 %}
        User With This Username Exists
    {% endif %}
{% endif %}
</body>

</html>